@import './variables';

.header {
    background-color: transparent;

    .header__box {
        @extend %align-center;
        justify-content: end;
        gap: 1rem;
        padding: 10px 20px;

        .links {
            font-size: .8rem;
            text-decoration: none;
            color: #fff;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .btn {
            text-decoration: none;
            color: $main-color;
            background-color: $btn-color;
            padding: 9px 23px;
            border-radius: 4px;
            font-size: .9rem;
            font-weight: 300;

            &:hover {
                background-color: $btn-hover-color;
            }
        }
    }
}