$btn-color: #93baf9;
$btn-hover-color: #b1ccf7;
$search-icon-color: #9aa0a6;
$main-color: #202124;
$txt-color: #c5c5c5;
$footer-txt: #9aa0a6;

%align-center {
    display: flex;
    align-items: center;
}